@keyframes welcome{
    0%{
        left: -100vw;
        opacity: 0;
        
    }
    
    50%{
        left: -50vw;
        opacity: 0.3;
    }
    
    75%{
        left: 10vw;
        opacity: 1;
    }
    
    100%{
        left: 0;
        opacity: 1;
    }
}

@keyframes name{
    0%{
        left: -100vw;
        opacity: 0;
    }
    
    50%{
        left: -50vw;
        opacity: 0.5;
    }
    
    75%{
        left: 10vw;
        opacity: 1;
    }
    
    100%{
        left: 0;
        opacity: 1;
    }
}

@keyframes self{
    0%{
        left: -100vw;
        opacity: 0;
        
    }
    
    50%{
        left: -50vw;
        opacity: 0.5;
    }
    
    75%{
        left: 10vw;
        opacity: 1;
    }
    
    100%{
        left: 0;
        opacity: 1;
    }
}

@keyframes side{
    0%{
        left: -100vw;
    }
    25%{
        left: -70vw;
        opacity: 0.5;
    }
    50%{
        left: -50vw;
        opacity: 0.8
    }
    100%{
        left: 0vw;
    }
}

@keyframes image{
    from{opacity: 0;}
    to{opacity: 1;}
}




























































